{% extends "base.html.twig" %}

{% block title %}Contact

{% endblock %}

{% block body %}
 
    {{ form_start(formContact) }}
    
    {{ form_row(formContact.nom) }}
    {{ form_row(formContact.prenom) }}
    {{ form_row(formContact.email) }}
    {{ form_row(formContact.contenu) }}

    <button type="submit" class="btn btn-dark mt-2">Envoyer</button>


    {{ form_end(formContact) }}

{% endblock %}