{% extends 'base.html.twig' %}


{% block title %}Liste des articles{% endblock %}

{% block body %}

{# {{ form(rechercheForm) }} #}

<h1> Liste des articles</h1>
<hr>
<a class="btn btn-dark mt-2" href="{{ path('new_produit') }}">Créer un nouvel article</a>
<section class="row articles">

    {% for produit in produits %}

        <article class="col-md-4 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">

            <h2>{{ produit.nom }}</h2>

            <div class="speProduit">

                Catégorie: {{produit.categorie.titre }} {# TITRE #}
                <hr>

            </div>
            <div class="content">

                <img src="{{ asset('images/articles/'~ produit.image )}}" alt=""></br> {# IMAGE #}
                {{produit.description|raw }} {# DESCRIPTION #}</br>
                <a href="{{ path('show', {'id': produit.id}) }}"> Lire la suite </a></br></br>
                <h3>{{produit.prix|raw }} € </h3>{# PRIX #}
                
                
            </div>
        </article>

    {% endfor %}

</section>

{% endblock %}